*{
    text-decoration: none;
}
main{
    border-left: 3px solid #BCBBBD;
    border-right: 3px solid #BCBBBD;
    margin: 0px 5%;

}
/* menu */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    width: 90%;
    margin:0 auto;
    padding: 6% 5%;
    border-bottom: 3px #BCBBBD solid;
    border-left:3px #BCBBBD solid;
    border-right:3px #BCBBBD solid;

}
.menu-right {
    display: flex;
}
.menu a{
    margin-left: 15px;
    text-decoration: none;
}
.menu-right a:hover{
    text-decoration: underline;
    color: yellow;
}
body{
    background-color: black;
    background-image: url("../Illustrations/Batgame_1.png");
    background-repeat: no-repeat;
    background-size: 100vw 60vw;
}