*{
    /* margin: 0 0 ; */
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
}
/* stylel de police  */
@font-face {
    font-family: "titre h1";
    src: url(/fonts/Rajdhani-Medium.ttf);
}
@font-face{
    font-family: "titre h2";
    src: url(/fonts/SpaceGrotesk-Bold.ttf);
}
@font-face{
    font-family: "texte";
    src: url(/fonts/SpaceGrotesk-Regular.ttf);
}
h1, li, a{
    font: 36px "titre h1"
}
p{
    font: 22px "texte";
}
h2{
    font: 12px "titre h2";
}
h3{
    font: 14px "texte"; 
}
.projets p{
    font: 10px "titre";
}

/* animation */
body:not(.social-icons) {
    animation: body 3s ease-out;
}

@keyframes body {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 3;
      transform: translateX(0%);
    }
}
body{
    background-color: black;
    background-image: url("../Illustrations/Bathome1.png");
    background-size: cover;
    background-position: 80% 20%;
    background-repeat: no-repeat;
    height: 901px;
    overflow-x: hidden; 
    animation: body 1s ease-out forwards;
}
main{
    border-left: 3px solid #BCBBBD;
    border-right: 3px solid #BCBBBD;
    margin: 0px 5%;

}
/* menu */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    width: 90%;
    margin:0 auto;
    padding: 6% 5%;
    border-bottom: 3px #BCBBBD solid;
    border-left:3px #BCBBBD solid;
    border-right:3px #BCBBBD solid;

}
.menu-right {
    display: flex;
}
.menu a{
    margin-left: 15px;
    text-decoration: none;
}
.menu-right a:hover{
    text-decoration: underline;
    color: yellow;
}
.introduction{
    height: 130vh;
    width: 90%;
    margin: 0px auto;
    padding: 25px;
    text-align: center;
    justify-content: center;
}
.sous-intro{
    text-align: center;
    width: 50%;
    height: 50vh;
    margin: 15% auto;
}

.header-btn {
    height: 40%;
}
.header-btn button, .confirmation button{
    background: linear-gradient(to right, #c3c1bda8, #890009c6);
    font: 16px "texte";
    width: 200px;
}

button {
    height: 32%;
    border: none;
    padding: 5px 10px;
    margin: 1%;
    display: inline-block;
    justify-content: space-between;
    opacity: 40%;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.header-btn button:hover{
    opacity: 100%;
}

.iv{
    position: absolute;
    text-align: center;
    width: 100px;
    flex-wrap: wrap;
    top:255px;
    right:27px;
    margin-top: 20px;
    position: fixed;
}
.flèche{
    align-items: center;
    margin-left: 45%;
    margin-top: -13%;
}
.btn{
    font-size: 20px;
    font: 20px "titre h1";
    margin: 2%;
    padding: 20px 30px;
    opacity: 40%;
    position: relative;
    transition: .5s all ease-in-out;
    cursor: pointer;
    border-image: linear-gradient( to right, #EDDEBF, #176491)1;
    background: none;
}
.btn:hover{
    opacity: 100%;
}

.description{
    margin: 5% 12%;
    text-align: justify;
}
.cartes{
    display: flex;
    justify-content: center;
}
.cartes img{
    width: 98%;
    transition: .5s all ease-in-out;
    padding: 5%;
}
.cartes img:hover{
    transform: scale(1.3);
    
}
.ennemis{
    position: relative;
    margin-top: 7%;
}
.deco1 img{
    position: absolute;
    width: 12%;
    left: 20%;
    top: -8%;  
}
 .deco2 img{
    position: absolute;
    width: 30%;
    left: 77%;
    top: 84%;
}
.allies{
    margin-top: 7%;
}
/* .justice{
    margin: 0;
    justify-content: center;
} */
.superheros{
    width: 120%;
    height: 600px;
    background-image: url("../Illustrations/Bathome111.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7%;
    margin-left: -10%;
    margin-right: -10%;
}
.multimedia{
    width: 78%;
    margin: auto;
}

.multi1{
    display: flex;
    align-items: center;
    padding: 2%;
}
.synopsis{
    display: flex;
    background: linear-gradient(to bottom right, #4a4a40, #081d2a);
    border-radius: 0 15px 15px 0;
    margin: auto 11%;
    padding-left: 9%;
}
.img2{
    margin-left: -20%;

}
.img2 img{
    height: 100%;
}
.text2{
    padding-left: 5%;
    margin: 0 2% 0 11%;
}
.video{
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

/* bande anonce */
.video a img {
    width: 70%;
}
.video img:hover{
    filter: drop-shadow(0 2px 1.5rem #fff);
}

/* formulaire */

form{
    background: linear-gradient(to bottom right, #4d493f, #081e2a);
    margin-left: -10%;
    margin-right: -10%;
}
.formulaire{
    margin: 5% 30%;
}
.prenom{
    text-align: center;
}

input, select, textarea{
    background: none;
    padding: 5px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin: auto;
    font-size: 20px;
}
label{
    font-size: 20px;
}
.confirmation{
    text-align: center;
    font: 20px "titre h1";
}

.confirmation button:hover{
    opacity: 100%;
}
.bouton-final{
    padding: 15px 65px;
}
.bouton3 button{
    background: none;
    padding: 10px 8px;
    margin: 10px auto;
    border-image: linear-gradient( to right, #EDDEBF, #176491) 1;
    border: 3px solid  #176491;
    margin-left: 15%;
}
/* [value]{
    background: gray;
} */

.checkbox-form {
    width: 90%;
    margin: 10px 0px 10px 0px;
}

.checkbox-form label{
    opacity: 50%;
} */

/* Custom select */
#frequence {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-image: url("Logos/Fleche2_avec_rotation.png");
    background-repeat: no-repeat; 
    background-size: 16px;
    background-position: right center; 
    padding-right: 20px; 
    padding-bottom: 5px;
    cursor: pointer; 
} 

#frequence option {
    background: linear-gradient(160deg, #4b4a4afd 10%, #0f202bf5 60%);
}

select option { 
    background-color: transparent;
    color: black;
}

.replique{
    margin-top: 10%;
}
.citation{
    text-align: center;
}

.rond{
    display: flex;
    justify-content: center;
}
.cercle{
    margin: 0 2px;
    width: 8px;
    height: 7px;
    border-radius: 50px;
    border: 2px solid rgb(103, 103, 207);
    align-items: center;
}
.droite{
    margin-left: 80%;
}
.gauche{
    margin-top: 4%;
    margin-left: 4%;
    width: 90%;
}
.copyright img{
    width: 34px;
    height: 34px;
}

.projets, .medias{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1%;
    margin-bottom: 4%;
}


/* Animation de batman2 */
    
.image {
	display: flex;
	width: 20vw;
	border-radius: 25px;
	height: 80px;
    margin-top: 4%;
    margin-left: -7%;
	background: linear-gradient(to right,rgba(255, 255, 255, .60),rgba(255,0,0, .40));
}
.personnage {
	position: relative;
	left: -5%;
	top: -25%;
    width: 40%;
}

.image .bio p {
	font-size: 16px;
	text-align: center;
}
.image .bio p span {
	font-size: 12px;
}

.card:hover .animation {
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
}
.card {
    position: relative;
}

.name {
    visibility: hidden;
    position: absolute;
    bottom: -2.5em;
    left: -1.2em;
    text-align: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(100, 85, 54, .3);
    width: 112%;
    height: 25%;
    border: 1px solid rgba(100, 85, 54, .7);
    padding-left: 4em;
    padding-bottom: 2em;
}
.name div p {
   margin-left: 1em;
}

.name div p span {
   filter: invert(6%) sepia(85%) saturate(5811%) hue-rotate(6deg) brightness(87%) contrast(109%);;
}

.card:hover .name {
    visibility: visible;
    animation-name: slide-top;
    animation-duration: 3s;
}

@keyframes slide-top {
    from {
        opacity: 0;
        transform: translateY(-4em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

